* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.action-button {
    background-color: #ff004f;
    color: #fff;

    border-radius: 19px;
    padding: 10px 20px;
    cursor: pointer;
}

.hero {
    background-image: url('img2.jpeg');
    background-size: cover;
    text-align: center;
    padding: 100px 20px;
    color: #fff;
}

.start-button {
    background-color: #ff004f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.quote {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.events {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.event {
    width: 45%;
    text-align: center;
}

.event img {
    width: 100%;
    height: auto;
}

.explore {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.tours {
    text-align: center;
    padding: 50px 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

#hs {
    font-size: 15px;
    text-align: center;
}